:root {
    --color-azul-escuro: '#446577';
    --color-azul: '#9ab7c1';
    --color-azul-claro: '#d6e2ea';
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100wh;
    height: 100vh;
    background-color: #cecece;
}